{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.12.0"},  %% Fetch from Hex package manager
    {lager, "3.9.2"},    %% Fetch from Hex package manager
    {jsx, "3.1.0"},      %% Fetch from Hex package manager
    {erlbus, {git, "https://github.com/cabol/erlbus.git", {branch, "master"}}}, %% Fetch from Git
    {sync, {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}    %% Fixed: Fetch from Git!
]}.

%% Tell the release assembler to include these apps when building the system
{relx, [{release, {chatbus, "0.1.0"},
         [chatbus,
          cowboy,
          lager,
          jsx,
          erlbus,
          sync,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.